@model IEnumerable<string>

    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-block m-2 p-3 btn-secondary"
               asp-action="List"
               asp-controller="Product"
               asp-route-category="">
                Home
            </a>
        </li>
    </ul>
    

    @foreach (string category in Model)
    {
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn m-2 p-3 btn-block
                @(category == ViewBag.SelectedCategory ? "btn-primary": "btn-secondary")"
                   asp-action="List"
                   asp-controller="Product"
                   asp-route-category="@category"
                   asp-route-productPage="1">
                    @category
                </a>
            </li>
        </ul>
    }
